html, body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgb(30, 27, 27, 0.325);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show{
    visibility: visible;
    opacity: 1;
}

.burger {
    display: none;
}

.button {
    background-color: #FF6433;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 12px;
}

.title {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
}

.small__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
}

.medium__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.additonal__title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.info-subtitle {
    opacity: 0.7;
}

.info-item {
    margin-bottom: 32px;
}

.info-item:last-child {
    margin-bottom: 0;
}

/* --------------------------------------------- */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 16px;
    white-space: nowrap;
}


.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.header__top-box {
    margin-left: 14px;
}

.menu__list-item {
    margin-right: 40px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.header__top {
    display: flex;
    align-items: center;
    margin-left: 32px;
    padding-left: 32px;
    border-left: 1px solid #939191;
}

.header__top-text {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgba(30, 27, 27, 0.7);
}

.header__body-inner {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 135px;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

.header__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 84px;
    letter-spacing: -0.03em;
    max-width: 625px;
    margin-bottom: 32px;
}

.header__box {
    display: flex;
    margin-bottom: 48px;
}

.header__box-link {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    margin-left: 32px;
}

.header__box-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.header__box-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.header__bottom {
    display: flex;
}

.header__bottom-img {
    margin-right: 13px;
}

.header__bottom-top {
    font-weight: 500;
    line-height: 24px;
    color: #939191;
}

.header__bottom-time {
    font-size: 18px;
    line-height: 175%;
}

.header__bottom-wrapper {
    display: none;
}

.header__wrapper {
    position: relative;
}

.header__frame {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 12px rgba(225, 225, 225, 0.43);
    border-radius: 59px;
    position: absolute;
}

.header__service {
    padding: 15px 14px 17px;
    top: 80px;
    left: -30px;
    min-width: 282px;
}

.header__service-img {
    margin-right: 15px;
}

.header__service-text {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    align-self: center;
}

.header__rate {
    bottom: 70px;
    right: -10px;
    padding: 24px 39px;
    display: flex;
    align-items: center;
}

.header__rate-box {
    margin-right: 15px;
}

.header__rate-num {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.header__rate-score {
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

/* ----------------------------------------------------- */

.offers {
    background: #F2F2F2;
    padding: 128px 0;
}

.offers__subtitle {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
}

.offers__title {
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
}

.offers__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px 8px;

}

.offers__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 316px;
    height: 232px;
}

.offers__text {
    margin-top: 16px;
}

.offers__link {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.offers__link:hover {
    background: #FF6433;
    color: #FFFFFF;
    transition: all .3s;
}

.offers__link:hover svg path {
    fill: #FFFFFF;
    transition: all .3s;
}

.offers__link-inner {
    text-align: end;
}

.offers__link-bottom {
    font-size: 18px;
    line-height: 175%;
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
}

.offers__link-img {
    margin-left: 16px;
}

/* ------------------------------------------- */

.follow {
    padding: 134px 0;
}

.follow__inner {
    display: flex;
}

.follow__desc {
    max-width: 525px;
    margin-right: 130px;
}

.follow__title {
    margin-bottom: 16px;
}

.follow__desc-text {
    opacity: 0.6;
    margin-bottom: 48px;
}

.follow__item {
    display: flex;
    margin-bottom: 16px;
}

.follow__item:last-child {
    margin-bottom: 0;
}

.follow__num {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow__num--no-line {
    display: block;
}

.follow__num-line {
    width: 100%;
    height: 71px;
    margin-top: 16px;
}

.follow__define {
    margin-left: 24px;
    max-width: 336px;
}

.follow__define-title {
    margin-top: 13px;
    margin-bottom: 8px;
}

.follow__define-text {
    font-size: 18px;
    line-height: 175%;
    opacity: 0.6;
}

/* ------------------------------------------------ */

.about {
    background-color: #F2F2F2;
    padding-bottom: 48px;
}

.about__wrapper {
    background-image: url(../images/about-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 502px;
}

.about__inner {
    background-color: #FF6433;
    max-width: 730px;
    height: 502px;
    padding: 0 59px;
}

.about__title {
    margin-bottom: 59px;
    max-width: 570px;
    padding-top: 117px;
}

.about__button {
    background-color: #1E1B1B;
}

.about__button-wrapper {
    display: none;
}

.about__numbers {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.about__item-num {
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
    color: #661CE7;
}

.about__item-desc {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    opacity: 0.7;
}

/* ------------------------------------- */

.brands {
    background-color: #E2E6E9;
    padding: 128px 0 82px;
}

.brands__title {
    margin-bottom: 31px;
    text-align: center;
}

.brands__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
}

.brands__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------- */

.blog {
    padding: 130px 0 135px;
}

.blog__title {
    margin-bottom: 47px;
}

.blog__filter {
    margin-bottom: 46px;
}

.blog__filter-btn {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin-right: 30px;
    background-color: transparent;
    border: none;
}

.blog__filter-btn:last-child {
    margin-right: 0;
}

.blog__items {
    display: grid;
    grid-template-columns: 405px 405px 405px;
    grid-template-rows: 606px 606px;
    gap: 64px 32px;
}

.blog__item {
    max-width: 405px;
    width: 100%;
}

.blog__box-img {
    max-width: 405px;
    width: 100%;
}

.blog__date {
    color: #939191;
    margin: 24px 0 16px;
}

.blog__small-title {
    margin-bottom: 16px;
}

/* ------------------------------------- */

.customers {
    background-color: #F2F2F2;
    padding: 128px 0 206px;
}

.customers__inner {
    position: relative;
}

.customers__title {
    max-width: 909px;
    margin: 0 auto 76px;
    text-align: center;
}

.customers__item {
    background-color: #fff;
    padding: 72px;
    max-width: 616px;
    margin-right: 48px;
}

.customers__items .slick-list {
    margin-left: 48px;
}

.customers__wrap {
    display: flex;
    margin-bottom: 24px;
}

.customers__box {
    margin-left: 16px;
}

.customers__city {
    color: #939191;
}

.customers__item-text {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.customers__arrows {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 23px;
}

.customers__arrow {
    position: absolute;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #fff;
    text-align: center;
    line-height: 3.2;
    transition: all .3s;

}

.customers__arrow-prev {
    right: 118px;
}

.customers__arrow:last-child {
    margin-right: 48px;
}

.customers__arrow:hover {
    width: 62px;
    height: 62px;
    background-color: #1E1B1B;
    line-height: 4;
    top: -6px;
}

.customers__arrow:hover path {
    fill: #F2F2F2;
}


.slick-dots {
    position: absolute;
    display: flex;
    bottom: -60px;
    right: 40%;
    transform: translate(-50%, -50%);

}

.slick-dots button {
    font-size: 0;
    width: 32px;
    height: 4px;
    background-color: #939191;
}

.slick-dots li {
    margin-right: 10px;
}

.slick-active button {
    background-color: #FF6433;
}

/* ---------------------------------------------- */

.faq {
    padding: 128px 0;
    background-color: #E2E6E9;
    ;
}

.faq__title {
    text-align: center;
    margin-bottom: 86px;
}

.faq__item {
    max-width: 896px;
    background-color: #fff;
    padding: 40px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.faq__item:last-child {
    margin-bottom: 0;
}

.faq__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__box-item {
    align-self: center;
    width: 51px;
    height: 48px;
    background-color: #FF6433;
}

.faq__box-item::before,
.faq__box-item::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 17px;
    min-width: 17px;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
}

.faq__box-item::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.faq__box-link--active .faq__box-item::after {
    transform: rotate(0deg);
}

.faq__item-text {
    font-size: 18px;
    line-height: 175%;
    color: #939191;
    max-width: 701px;
    margin-top: 16px;
}

/* -------------------------------------------- */

.contact {
    padding: 135px 0 525px;
}

.contact__title {
    max-width: 455px;
    margin-bottom: 48px;
}

.contact__wrapper {
    display: flex;
    justify-content: space-between;
}

.contact__input {
    display: block;
    background-color: #F2F2F2;
    border-radius: 2px;
    min-width: 624px;
    padding: 23px 40px;
    margin-bottom: 4px;
}

.contact__input::placeholder {
    font-size: 16px;
    line-height: 28px;
    color: #1E1B1B;
}

.contact__btn {
    margin-top: 48px;
}

.contact__info {
    margin-left: 15px;
    margin-right: 35px;
}

/* ---------------------------------------- */

.map {
    background-image: url(../images/Image-map.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.map__inner {
    max-width: 1280px;
    width: 100%;
    height: 512px;

}

.map__inner iframe {
    margin-top: -280px;
}

/* --------------------------------------------- */

.footer {
    padding: 128px 0;
    background-color: #1E1B1B;
    opacity: 0.98;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__main-title {
    color: #fff;
    margin-bottom: 65px;
    max-width: 463px;
}

.footer__list {
    display: flex;
}

.footer__list-item {
    margin-right: 24px;
}

.footer__list-item:last-child {
    margin-right: 0;
}

.footer__contact {
    margin-right: 155px;
    margin-left: 10px;
}


.footer__contact-subtitle {
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 8px;
}

.footer__contact-main {
    color: #FFFFFF;
}

.footer__bottom {
    background-color: #1E1B1B;
    padding: 65px 0;
}

.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-list {
    display: flex;
}

.footer__bottom-item {
    color: #fff;
    margin-right: 40px;
}

.footer__bottom-item:last-child {
    margin-right: 0;
}

.footer__bottom-copy {
    color: #939191;
}

/* ---------------MEDIA------------------ */
@media(max-width: 1300px) {
    .blog__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(405px, 1fr));
        justify-items: center;
        align-content: center;
    }


}

@media(max-width: 1300px) {
    .header__title {
        font-size: 52px;
        line-height: 70px;
    }

    .header__body-img {
        max-width: 500px;
    }
}

@media(max-width: 1200px) {
    .brands__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .contact {
        padding: 81px 0 395px;
    }

    .contact__title {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .contact__wrapper {
        display: block;
        text-align: center;
    }

    .contact__form {
        margin-bottom: 35px;
    }

    .contact__input {
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 980px) {

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 15px black;
        z-index: 100;
        transition: all .3s;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px 0;
        border-radius: 4px;
        background-color: #1E1B1B;
    }

    .burger::before,
    .burger::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background-color: #1E1B1B;
    }

    .burger--opened{
        box-shadow: none;
    }

    .burger--opened span{
        display: none;
        transition: all .3s;
    }

    .burger--opened::before,
    .burger--opened::after{
        position: fixed;
        top: 40px;
        right: 25px;
    }

    .burger--opened::before{
        transform: rotate(135deg);
    }

    .burger--opened::after{
        transform: rotate(225deg);
    }

    .header__inner {
        position: fixed;
        flex-direction: column;
        background-color: #fff;
        top: 0;
        right: 0;
        z-index: 80;
        height: 100%;
        min-width: 320px;
        padding: 70px 0;
        transform: translateX(100%);
        transition: all .3s;
    }

    .header__inner--opened {
        transform: translateX(0%);
        
    }

    .menu {
        margin-left: 0;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__list-item {
        margin-right: 0;
        padding: 20px;
    }

    .header__top {
        padding: 0;
        margin: 0;
        border: none;
    }

    .header__body-inner {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 80px;
    }

    .header__content {
        margin-right: 0;
    }

    .header__title {
        font-size: 57px;
        line-height: 76px;
    }

    .header__box {
        justify-content: center;
    }

    .header__bottom {
        justify-content: center;
    }

    .header__bottom-items {
        text-align: left;
    }

    .header__bottom-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

    .header__wrapper {
        display: none;
    }

    .header__service {
        padding: 0;
        display: flex;
    }

    .header__rate {
        padding: 0;
    }

    .title {
        font-size: 50px;
        line-height: 63px;
    }

    .offers {
        padding: 80px 0;
    }

    .offers__subtitle {
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 4px;
    }

    .offers__items {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .follow {
        padding: 80px 0;
    }

    .follow__inner {
        justify-content: space-between;
    }

    .follow__desc {
        margin-right: 15px;
    }

    .follow__define-title {
        font-size: 29px;
    }

    .medium__title {
        font-size: 40px;
        line-height: 140%;
    }

    .about__wrapper {
        background-image: none;
        height: 390px;
        background-color: #FF6433
    }

    .about__inner {
        background-color: transparent;
        padding: 0 60px;
        height: inherit;
        max-width: 100%;
    }

    .about__title {
        margin-bottom: 35px;
        padding-top: 75px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .about__button-wrapper {
        display: flex;
        justify-content: center;
    }

    .about__button {
        display: none;

    }

    .about__button-btm {
        background-color: #1E1B1B;
        text-align: center;
    }

    .about__item-num {
        font-size: 48px;
    }

    .about__item-desc {
        font-size: 20px;
    }

    .blog {
        padding: 80px 0;
    }

    .customers__item {
        max-width: 100%;
    }

    .footer {
        padding: 80px 0;
    }

    .footer__wrapper {
        display: block;
        text-align: center;
    }

    .footer__main {
        margin-bottom: 35px;
    }

    .footer__main-title {
        margin: 0 auto;
        margin-bottom: 65px;
    }

    .footer__list {
        justify-content: center;
    }

    .footer__contact {
        margin: 0;
    }

    .footer__bottom {
        padding: 30px 0;
    }

    .footer__bottom-inner {
        display: block;
        text-align: center;
    }

    .footer__bottom-list {
        display: block;
        text-align: center;
        margin-bottom: 35px;
    }

    .footer__bottom-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer__bottom-item:last-child {
        margin-bottom: 0;
    }

    .footer__bottom-img {
        margin-bottom: 35px;
    }
}

@media (max-width: 770px) {
    .header__title {
        font-size: 44px;
        line-height: 61px;
    }

    .title {
        font-size: 36px;
        line-height: 54px;
    }

    .offers__subtitle {
        font-size: 16px;
        line-height: 23px;
    }

    .offers__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        row-gap: 20px;
    }

    .follow__inner {
        display: block;
    }

    .follow__desc {
        margin: 0 auto;
        margin-bottom: 65px;
        text-align: center;
    }

    .follow__title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .follow__item {
        justify-content: center;
    }

    .about__item-num {
        font-size: 35px;
    }

    .about__item-desc {
        font-size: 13px;
    }

    .brands__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .customers {
        padding: 80px 0;
    }


}

@media (max-width: 680px) {
    .offers__items {
        row-gap: 8px;
    }

    .blog__title {
        text-align: center;
    }

    .blog__filter {
        text-align: center;
    }

    .blog__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, minmax(405px, 1fr));
    }

    .faq__box-title {
        font-size: 19px;
        line-height: 23px;
        margin-right: 10px;
    }

    .faq__item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact__input {
        min-width: 315px;
    }

}

@media (max-width: 560px) {
    .header__title {
        font-size: 36px;
        line-height: 50px;
    }

    .header__bottom-img {
        display: none;
    }

    .header__bottom-top {
        text-align: center;
    }

    .header__bottom-time {
        font-size: 16px;
        text-align: center;
    }

    .header__bottom-wrapper {
        display: block;
    }

    .header__service {
        justify-content: center;
        margin-bottom: 30px;
    }

    .header__rate {
        justify-content: center;
    }

    .offers__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .follow__num {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about__inner {
        padding: 0
    }

    .about__wrapper {
        max-height: 335px;
    }

    .about__title {
        margin-bottom: 35px;
        padding-top: 70px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
    }

    .brands__items {
        display: block;
    }

}
    @media (max-width: 480px) {
        .about__numbers {
            display: block;
            text-align: center;
        }

        .customers__item {
            padding: 30px;
        }

        .customers__item-text {
            font-size: 15px;
            line-height: 30px;
        }

        .slick-dots {
            display: none;
        }

        .faq__box-title {
            font-size: 16px;
            line-height: 23px;
            max-width: 340px;
        }

        .faq__item {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .contact__input {
            min-width: 280px;
        }
    }


    @media (max-width: 380px) {
        .faq__box-title {
            max-width: 180px;
        }
        
        .footer__contact-main {
            font-size: 20px;
        }
    }